.btn-primary-cf:hover {
    color: whitesmoke;
    background-color: #ff993b !important;
}

.btn-primary-cf:focus {
    color: whitesmoke;
    background-color: #ff993b !important;
}

.btn-primary-cf:active {
    color: whitesmoke;
    background-color: #ff993b !important;
}